h1 {
   text-align: center; color: rgb(32, 99, 225); background-color: #3acbff;
}
p {
    text-align: center; 
}
body {
    background-color: #74c2fe;
}
h2 {
    background-color: #3277d8;
}
h2 {
    padding: 20px;             /* Espaçamento interno de 20 pixels */
  border: 2px solid #000;
}

img {
    display: block;
  margin: 0 auto;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-family: fantasy;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #3277d8;
}
